<h1 style="text-align:center;">Login</h1>
<div style="text-align:center;">
<%= form_with model: @user do |f|%>
    <p>
    <%=f.label :username, "UserName:"%>
    <%=f.text_field :username%>
    <br>
    <%=f.label :password, "Password:"%>
    <%=f.text_field :password%>
    <br>
    <%=f.label :email, "Email:"%>
    <%=f.text_field :email%>
    <br>
    <%=f.submit%>

<%end%>
</div>

