<body class=body>
<div class=signup_container_head>
    <h1>SignUp</h1>
</div>

<div class=signup_container_body style="text-align:center;">
<%= form_with model: @user do |f|%>
    <p>
    <span class=label_font> <%=f.label :username, "UserName:"%> </span>
    <span style="padding-left:0px;"> <%=f.text_field :username%> </span>
    <br><br>
    <span class=label_font> <%=f.label :password, "Password:"%> </span>
    <span style="padding-left:11px;"><%=f.text_field :password%></span>
    <br><br>
    <span class=label_font> <%=f.label :email, "Email:"%> </span>
    <span style="padding-left:48px;"><%=f.text_field :email%></span>
    <br><br>
    <span><%=f.submit "SignUp", class: "signup_btn"%></span>
    </p>
<%end%>
</div>

<div style="background-color:rgb(242, 204, 143); padding-bottom:22%">
</div>

</body>

<style>
.signup_container_head{
    background-color:rgb(107, 112, 92);
    padding:28px 32px;
    text-align: center;
    color: white;}
.signup_container_body{
    background-color:rgb(242, 204, 143);
    padding:35px 10px;
}
.label_font{font-size:20px;}
.signup_btn{
    color:#4CAF50;
    padding:5px 25px;
    border:2px;
    border-radius:5px;
    border-color:#4CAF50;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;}
.signup_btn:hover{
    border-radius:5px;
    background-color: #4CAF50;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;}

.body{background-color:rgb(33, 37, 41);}
</style>