<p id="notice"><%= notice %></p>

<h3 class=todo_main_head>Todo Lists</h3>
<button class=nav_home_button><%= link_to 'Dashboard', dashboard_home_path(id:params[:id]) ,{style:'color:#FFFFFF; font-weight:550;'}%></button>

<div class=container_new>
<button class=create_new_button><%= link_to 'New Todo List', new_todo_list_path(id:params[:id]) ,{style:'color:#FFFFFF;font-weight:550;'}%></button>
</div>
<br><br>

<table class=todo_main_body>
  <thead>
    <tr>
      <th>Date</th>
      <th>Item</th>
      <th>Status</th>
      <!--th>Userid</th-->
      <!--Above one is Abonded-->
      <!--th>User</th-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.date %></td>
        <td><%= todo_list.item %></td>
        <td><%= (todo_list.status ? 'Done' : 'Pending') %></td>
        <!--td><% todo_list.userid %></td-->
        <!--Above one is Abonded-->
        <!--td><%= todo_list.user_id %></td-->
        <td><%= link_to 'Show', todo_list ,{style:'color:#FFFFFF;'} %></td>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) ,{style:'color:rgb(42, 157, 143);'} %></td>
        <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<style>
.todo_main_head{
  background-color:rgb(244, 162, 97);
  color:white;
  border-radius:5px;
  margin: 8px 150px;
  text-align:center;
  font-weight:550;
}
.todo_main_body{
  background-color:rgb(127, 85, 57);
  color:white;
  border-radius:5px;
  text-align:center;
  font-weight:550;
  width:100%;
  table-layout:fixed;
  word-wrap:break-word;
  margin:10px 10px;
}
.create_new_button{
  background-color:rgb(42, 157, 143);
  color:white;
  border:none;
  border-radius:5px;
  padding:8px;
}
.nav_home_button{
  background-color:rgb(42, 157, 143);
  color:white;
  border:none;
  border-radius:5px;
  float:left;
}
.container_new{
  text-align:center;
  position: absolute;
  left: 45%;
}
.button {

}
th,td{padding:10px;}
</style>
