<body class=main_head>

<p id="notice"><%= notice %></p>
<div style="text-align:center;position:absolute; left:25%;">
<table class=main_body>
<tr>
  <th><strong>Date:</strong></th>
  <td class=data_properties><%= @todo_list.date %></td>
</tr>

<tr>
  <th><strong>Item:</strong></th>
  <td class=data_properties1><%= @todo_list.item %></td>
</tr>

<tr>
  <th><strong>Status:</strong></th>
  <td class=data_properties><%= (@todo_list.status ? 'Done' : 'Pending') %></td>
</tr>

<tr>
  <th><strong>UserID:</strong></th>
  <td class=data_properties><%= @todo_list.user_id %></td>
</tr>
</div>
<p style="text-align:center;">
<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path%>
</p>

</body>

<style>
.main_head{background-color:rgb(107, 112, 92);}
.main_body{color:#FFFFFF;text-align:left;font-size:25px;}
.data_properties{color:rgb(233, 196, 106);}
.data_properties1{color:rgb(0, 95, 115);}
</style>