<body class=main_head>

<p id="notice"><%= notice %></p>

<p class=main_body>
  <strong>Date:</strong>
  <%= @todo_list.date %>
</p>

<p class=main_body>
  <strong>Item:</strong>
  <%= @todo_list.item %>
</p>

<p class=main_body>
  <strong>Status:</strong>
  <%= @todo_list.status %>
</p>

<p class=main_body>
  <strong>Userid:</strong>
  <%= @todo_list.userid %>
</p>

<p class=main_body>
  <strong>User:</strong>
  <%= @todo_list.user_id %>
</p>

<p style="text-align:center;">
<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
</p>

</body>

<style>
.main_head{background-color:rgb(107, 112, 92);}
.main_body{color:#FFFFFF;text-align:center;}
</style>